<p id="notice"><%= notice %></p>

<h1>Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Pub address</th>
  
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= link_to address.pub_address, address %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Generate New Address', new_address_path %>
