<%= form_for(tx) do |f| %>
  <% if tx.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tx.errors.count, "error") %> prohibited this tx from being saved:</h2>

      <ul>
      <% tx.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
