<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Hash</th>
    </tr>
  </thead>

  <tbody>
    <% @txes.each do |tx| %>
      <tr>
        <td><%= link_to tx.txhash, tx %></td>
      </tr>
    <% end %>
  </tbody>
</table>
